@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

/* Resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oxygen", sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* Classes  */
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width: 1080px;
    margin: auto;
    padding: 0 30px;
}

/* -----------header-style-----------  */
.header{
    width: 100%;
    height: 100px;
    background-color: #ffff;
}
.navbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size: 30px;
    font-weight: 700;
    color: #444;
}
.nav-menu{
    display: flex;
}
.nav-menu li{
    padding: 8px 12px;
}
.nav-menu a{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
}
.nav-menu a:hover{
    color: #444;
    font-weight: 500;
    transition: all 0.2s ease;
}
/* -----------/header-style-----------  */

/* -----------banner-style-----------  */
.banner{
    background: url(/images/header-image.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
}
.banner-container{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #ffff;
    text-align: center;
}
.banner-container h3{
    color: #e0dad4;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
}
.banner-container h1{
    color: #fff;
    font-size: 55px;
}
.banner-container p{
    color: #e0dad4;
    text-align: center;
    width: 60%;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Droid Serif', Times, Georgia, serif;
    font-style: italic;
}
.banner-link{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    background-color: #e59361;
    color: #fff;
    letter-spacing: 2px;
    padding: 20px 70px;
    border-radius: 40px;
    margin-top: 20px;
}
.banner-link:hover{
    background-color: #e68244;
    transition: all 0.5s ease;
}
/* -----------/banner-style-----------  */

/* -----------service-style-----------  */
.service{
    width: 100%;
    padding: 100px 0;
}
.service-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    /* background-color: #e59361; */
}
.service-box{
    background-color: #222;
    padding: 120px 10px;
    text-align: center;
    border-radius: 10px;
}
.service-box h3{
    font-size: 14px;
    color: #ffffffcc;
    padding-bottom: 10px;
}
.service-box h4{
    font-size: 32px;
    color: #fff;
    padding-bottom: 20px;
}
.service-box p{
    font-size: 16px;
    width: 80%;
    margin: auto;
    color: #fff;
    padding-bottom: 25px;
}
.service-box a{
    
}
/* -----------/service-style-----------  */

/* -----------instagram-style-----------  */
.instagram{
    width: 100%;
    background-color: yellow;
}
.instagram-container{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}
.intagram-card{
    background-color: red;
    width: 250px;
    height: 250px;
}
.intagram-card img{
    width: 100%;
    height: 100%;
}
/* -----------/instagram-style-----------  */

/* -----------Footer-style-----------  */
.footer{
    width: 100%;
    padding: 20px 0;
    background-color: #222;
}
.footer-container{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}
/* -----------/Footer-style-----------  */


